.ant-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.85);
    background: #D9C68F;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}
.img-contact{
    width: 100%;
    height: auto;
  }

